.photo-grid{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 284px));
    list-style-type: none;
    max-width: 1184px;
    gap: 16px;

    justify-content: center;
  } 