.place__website{  
    grid-area: url;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 647px) {
    .place__website{
        width: 90%;
        margin: 0 auto 0 auto;
    }
   
}

